# Forecasting AI and ML Job Trends with SARIMA

Here, we perform **Exploratory Data Analysys & Preprocessing**

## Dependencies

In [35]:
import os

import pandas as pd
import numpy as np

from tabulate import tabulate

import kagglehub

## Dataset

In [36]:
path = kagglehub.dataset_download("asaniczka/1-3m-linkedin-jobs-and-skills-2024")
print("Path to dataset files:", path)

Path to dataset files: /Users/mzitoh/.cache/kagglehub/datasets/asaniczka/1-3m-linkedin-jobs-and-skills-2024/versions/2

In [37]:
file_names = ["job_skills.csv", "job_summary.csv", "linkedin_job_postings.csv"]

job_skills_path, job_summary_path, job_postings_path = [
    os.path.join(path, file_name) for file_name in file_names
]

In [38]:
table = []
for file_name in file_names:
    file_path = os.path.join(path, file_name)
    size_mb = os.path.getsize(file_path) / (1024**2)
    table.append([file_name, f"{size_mb:.2f} MB"])

print(tabulate(table, headers=["File Name", "Size"], tablefmt="pretty"))

+---------------------------+------------+
|         File Name         |    Size    |
+---------------------------+------------+
|      job_skills.csv       | 641.55 MB  |
|      job_summary.csv      | 4865.66 MB |
| linkedin_job_postings.csv | 396.09 MB  |
+---------------------------+------------+

In [39]:
job_skills_df = pd.read_csv(job_skills_path)

In [40]:
job_summary_df = pd.read_csv(job_summary_path)

In [41]:
job_postings_df = pd.read_csv(job_postings_path)

In [42]:
print(f"Shape of Job Skills: {job_skills_df.shape}")
print(f"Shape of Job Summary: {job_summary_df.shape}")
print(f"Shape of Job Postings: {job_postings_df.shape}")

Shape of Job Skills: (1296381, 2)
Shape of Job Summary: (1297332, 2)
Shape of Job Postings: (1348454, 14)

In [43]:
job_skills_df.head()

,job_link,job_skills
0,https://www.linkedin.com/jobs/view/housekeeper...,"Building Custodial Services, Cleaning, Janitor..."
1,https://www.linkedin.com/jobs/view/assistant-g...,"Customer service, Restaurant management, Food ..."
2,https://www.linkedin.com/jobs/view/school-base...,"Applied Behavior Analysis (ABA), Data analysis..."
3,https://www.linkedin.com/jobs/view/electrical-...,"Electrical Engineering, Project Controls, Sche..."
4,https://www.linkedin.com/jobs/view/electrical-...,"Electrical Assembly, Point to point wiring, St..."

In [44]:
job_skills_df.describe()

,job_link,job_skills
count,1296381,1294296
unique,1296381,1287101
top,https://www.linkedin.com/jobs/view/housekeeper...,"Front Counter, DriveThru, Outside Order Taker,..."
freq,1,169

In [45]:
job_summary_df.sample(5)

,job_link,job_summary
1105937,https://www.linkedin.com/jobs/view/rn-inpatien...,Description****Introduction**Do you have the c...
898212,https://www.linkedin.com/jobs/view/per-diem-re...,Overview\nProvides high quality comprehensive ...
1289526,https://www.linkedin.com/jobs/view/fashion-acc...,Must Haves\n7+ years-experience as an agency A...
1242687,https://www.linkedin.com/jobs/view/cook-i-pit-...,This position is responsible for creating dail...
1067037,https://www.linkedin.com/jobs/view/sr-project-...,SENIOR PROJECT ENGINEER\nJob Summary\nProvide ...

In [46]:
job_summary_df.describe()

,job_link,job_summary
count,1297332,1297332
unique,1297332,958192
top,https://www.linkedin.com/jobs/view/restaurant-...,Dollar General Corporation has been delivering...
freq,1,4571

In [47]:
job_postings_df.head()

,job_link,last_processed_time,got_summary,got_ner,is_being_worked,job_title,company,job_location,first_seen,search_city,search_country,search_position,job_level,job_type
0,https://www.linkedin.com/jobs/view/account-exe...,2024-01-21 07:12:29.00256+00,t,t,f,Account Executive - Dispensing (NorCal/Norther...,BD,"San Diego, CA",2024-01-15,Coronado,United States,Color Maker,Mid senior,Onsite
1,https://www.linkedin.com/jobs/view/registered-...,2024-01-21 07:39:58.88137+00,t,t,f,Registered Nurse - RN Care Manager,Trinity Health MI,"Norton Shores, MI",2024-01-14,Grand Haven,United States,Director Nursing Service,Mid senior,Onsite
2,https://www.linkedin.com/jobs/view/restaurant-...,2024-01-21 07:40:00.251126+00,t,t,f,RESTAURANT SUPERVISOR - THE FORKLIFT,Wasatch Adaptive Sports,"Sandy, UT",2024-01-14,Tooele,United States,Stand-In,Mid senior,Onsite
3,https://www.linkedin.com/jobs/view/independent...,2024-01-21 07:40:00.308133+00,t,t,f,Independent Real Estate Agent,Howard Hanna | Rand Realty,"Englewood Cliffs, NJ",2024-01-16,Pinehurst,United States,Real-Estate Clerk,Mid senior,Onsite
4,https://www.linkedin.com/jobs/view/group-unit-...,2024-01-19 09:45:09.215838+00,f,f,f,Group/Unit Supervisor (Systems Support Manager...,"IRS, Office of Chief Counsel","Chamblee, GA",2024-01-17,Gadsden,United States,Supervisor Travel-Information Center,Mid senior,Onsite

In [48]:
job_postings_df.describe()

,job_link,last_processed_time,got_summary,got_ner,is_being_worked,job_title,company,job_location,first_seen,search_city,search_country,search_position,job_level,job_type
count,1348454,1348454,1348454,1348454,1348454,1348454,1348443,1348435,1348454,1348454,1348454,1348454,1348454,1348454
unique,1348454,722748,2,2,2,584544,90605,29153,6,1018,4,1993,2,3
top,https://www.linkedin.com/jobs/view/account-exe...,2024-01-19 09:45:09.215838+00,t,t,f,LEAD SALES ASSOCIATE-FT,Health eCareers,"New York, NY",2024-01-14,Baytown,United States,Account Executive,Mid senior,Onsite
freq,1,625540,1297877,1296401,1346978,7325,41598,13436,460035,10052,1149342,19468,1204445,1337633

## Data Cleaning

#### Data enrichment

Enriching Job Postings with Skills Information for Analysis

In [49]:
job_postings_raw = pd.merge(job_postings_df, job_skills_df, on="job_link", how="inner")

#### Remove Duplicates

Check for and remove any duplicate rows

In [50]:
# Check for duplicates
duplicates = job_postings_raw.duplicated().sum()
print(f"Number of duplicates: {duplicates}")

# Removing duplicates
job_postings_no_duplicates = job_postings_raw.drop_duplicates()

Number of duplicates: 0

#### Missing Values

Review the number of missing values for each column

In [51]:
def check_missing_values(df):
    missing_values = df.isnull().sum()
    missing_values_percentage = round(missing_values / len(df), 2) * 100
    missing_data = pd.DataFrame(
        {"Missing Values": missing_values, "Percentage": missing_values_percentage}
    )

    return missing_data

In [52]:
print(check_missing_values(job_postings_no_duplicates))

                     Missing Values  Percentage
job_link                          0         0.0
last_processed_time               0         0.0
got_summary                       0         0.0
got_ner                           0         0.0
is_being_worked                   0         0.0
job_title                         0         0.0
company                           9         0.0
job_location                     19         0.0
first_seen                        0         0.0
search_city                       0         0.0
search_country                    0         0.0
search_position                   0         0.0
job_level                         0         0.0
job_type                          0         0.0
job_skills                     2085         0.0

Fill missing values in `company`, `job_location`, and `job_skills` and drop `job_link`

In [53]:
def fill_missing_values(df):
    df_filled = df.copy().drop(columns=["job_link"])

    df_filled["company"] = df_filled["company"].fillna("Unknown")
    df_filled["job_location"] = df_filled["job_location"].fillna("Unknown")
    df_filled["job_skills"] = df_filled["job_skills"].fillna("No Skills Provided")

    return df_filled

In [54]:
job_postings_no_missing = fill_missing_values(job_postings_no_duplicates)

In [55]:
print(check_missing_values(job_postings_no_missing))

                     Missing Values  Percentage
last_processed_time               0         0.0
got_summary                       0         0.0
got_ner                           0         0.0
is_being_worked                   0         0.0
job_title                         0         0.0
company                           0         0.0
job_location                      0         0.0
first_seen                        0         0.0
search_city                       0         0.0
search_country                    0         0.0
search_position                   0         0.0
job_level                         0         0.0
job_type                          0         0.0
job_skills                        0         0.0

#### Text Normalization

- Convert text to lowercase.
- Remove any leading or trailing whitespace.
- Replace ampersands with 'and'

These steps will introduce consistency into the data for easier handling

In [56]:
def normalize_text(text):
    if isinstance(text, str):
        text = (
            text.lower().strip()
        )  # Convert to lowercase and remove leading/trailing whitespaces
        # text = re.sub(
        #     r"[^a-z\s]", "", text
        # )  # Remove non-alphabetic characters and digits
    return text

Apply normalization all the columns

In [57]:
job_postings_normalized = job_postings_no_missing.copy()

for col in job_postings_normalized.columns:
    job_postings_normalized[col] = job_postings_normalized[col].apply(normalize_text)

In [58]:
job_postings_normalized.head(3)

,last_processed_time,got_summary,got_ner,is_being_worked,job_title,company,job_location,first_seen,search_city,search_country,search_position,job_level,job_type,job_skills
0,2024-01-21 07:12:29.00256+00,t,t,f,account executive - dispensing (norcal/norther...,bd,"san diego, ca",2024-01-15,coronado,united states,color maker,mid senior,onsite,"medical equipment sales, key competitors, term..."
1,2024-01-21 07:39:58.88137+00,t,t,f,registered nurse - rn care manager,trinity health mi,"norton shores, mi",2024-01-14,grand haven,united states,director nursing service,mid senior,onsite,"nursing, bachelor of science in nursing, maste..."
2,2024-01-21 07:40:00.251126+00,t,t,f,restaurant supervisor - the forklift,wasatch adaptive sports,"sandy, ut",2024-01-14,tooele,united states,stand-in,mid senior,onsite,"restaurant operations management, inventory ma..."

In [59]:
total_jobs = job_postings_normalized.shape[0]
print(f"Total number of jobs: {total_jobs:,}")

Total number of jobs: 1,296,381

## Feature Engineering

- Split the skills into a list
- Filter out 2-letter words and unwanted specific words like 'is', 'it', 'am'

In [60]:
def extract_skills(row):
    skills = row["job_skills"].split(", ")
    skills = [skill for skill in skills if len(skill) >= 3]

    return skills

In [61]:
job_postings_normalized['skills'] = job_postings_normalized.apply(extract_skills, axis=1)
job_postings_normalized['skills_count'] = job_postings_normalized['skills'].apply(len)

Update the `job_skills` column

In [62]:
job_postings_normalized.drop(['job_skills'], axis=1, inplace=True)
job_postings_normalized = job_postings_normalized.rename(columns={'skills': 'job_skills'})

In [63]:
job_postings_normalized.head(3)

,last_processed_time,got_summary,got_ner,is_being_worked,job_title,company,job_location,first_seen,search_city,search_country,search_position,job_level,job_type,job_skills,skills_count
0,2024-01-21 07:12:29.00256+00,t,t,f,account executive - dispensing (norcal/norther...,bd,"san diego, ca",2024-01-15,coronado,united states,color maker,mid senior,onsite,"[medical equipment sales, key competitors, ter...",25
1,2024-01-21 07:39:58.88137+00,t,t,f,registered nurse - rn care manager,trinity health mi,"norton shores, mi",2024-01-14,grand haven,united states,director nursing service,mid senior,onsite,"[nursing, bachelor of science in nursing, mast...",17
2,2024-01-21 07:40:00.251126+00,t,t,f,restaurant supervisor - the forklift,wasatch adaptive sports,"sandy, ut",2024-01-14,tooele,united states,stand-in,mid senior,onsite,"[restaurant operations management, inventory m...",43

- Changing the ‘search_country’ column into categories.
- This will make the Dataframe work faster and use less memory.

In [64]:
job_postings_normalized['search_country'] = job_postings_normalized['search_country'].astype('category')
job_postings_normalized['search_country'].cat.categories

Index(['australia', 'canada', 'united kingdom', 'united states'], dtype='object')

Save as a numpy array for further analysys

In [ ]:
# Parquet is efficient for large datasets

try:
    filename="data/a_job_postings_normalized"
    job_postings_normalized.to_parquet(f"{filename}.parquet")
    print(f"{job_postings_normalized.shape[0]:,} jobs saved to {filename}.parquet")
except Exception as e:
    print(f"Error saving DataFrame: {e}")

1,296,381 jobs saved to data/job_postings_normalized.parquet